@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Lexend:wght@400;700&family=Comme:wght@400;800&family=Playfair+Display:wght@400;700;900&family=Poppins:wght@400;600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-slick .slick-slide{

    object-fit: contain;
    display: flex;
    flex-direction: row;
    ;
}